$green: #66BB99;
$grey: #E6E6E6;
$black: #464646;
$radius:15px;

.post-container {
  display: flex;
  flex-direction: column;
  margin-top:93px;
  color:black;
  background-color: $grey;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;

    .header {
      display: flex;
      flex-direction: column;
      .top{
        display: flex;

        .img {
          width: 45px;
          height: 45px;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          border-radius: 100px;
        }
      }
    

      .text {
        line-height: 150% !important;
        font-size: smaller;
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      max-width: 400px;
      position: absolute;
      z-index: 1;
      font-size: smaller;
      right: 0;

      .icons {
        i {

        }

        .number {

        }
      }
    }

  }


  .comments-container {
    .content {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      background-color: $grey;

      header {
        display: flex;

        .img {
          width: 45px;
          height: 45px;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          border-radius: 100px;
        }

        .text {
      
        }
      }

      .footer {
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 0;

        .icons {
          i {

          }

          .number {

          }
        }
      }
    }

  &:last-child{
    margin-bottom: 50px;

  }
  }
}

.l-post {
  display: flex;
  flex-direction: column;
}
