
.notif-blk {
    margin-bottom: 45px;
    margin-top: 100px;
    h1{
        margin-bottom: 20px;

        i{
            color: $green;
            margin-right: 10px;
        }
    }

    .notif{
        background-color: #e6e6e6;
        border-radius: 40px;
        min-height: 60px;
        padding: 10px 20px;

        &.not-seen{
            background-color: #66bb99;
            color:white;
        }
        .user{
            font-weight: $blackW;
            margin-bottom: 5px;
        }

        .compte-picture {
            height: 40px;
            width: 40px;
            margin-right: 20px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}
.notif-blk img {
    height: 46px;
    border-radius: 46px;
}

