
.notif-blk {
    margin-top: 90px;
    margin-bottom: 70px;

    .title {
        margin-bottom: 20px;

        i{
            color: var(--main-green);
            margin-right: 10px;
        }

        .sup-notif {
            font-size: small;
            color: rgba(70,70,70,.49);
            cursor: pointer;
        }
    }

   

    .notif{
        background-color: $grey;
        border-radius: 40px;
        min-height: 60px;
        padding: 10px 11px;

        &:hover {
            background-color: $light-grey;
        }

        &.not-seen{
            background-color: #66bb99;
            color:white;
            border-radius: 40px;
            min-height: 60px;
            padding: 10px 20px;

            &:hover {
                background-color: $dark-green;
            }
        }

        .compte-picture {
            height: 40px;
            width: 40px;
            margin-right: 10px;
            border-radius: 100%;
            img {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .opa p {
            margin-bottom: 3px;
        }

        .p-date {
            font-size: small;
            color:var(--main-medium-grey);
        }

        .option button {
            color: var(--main-green);
            background-color: transparent;
            border: 0 solid #000;
            font-size: initial;
        }

        #delete-notif {
            color: $dark-grey;
            button.close {
                color: var(--main-green);
                background-color: transparent;
                border: 0 solid #000;
                font-size: 2em;
            }
        }

        .notification-sup {
            cursor: pointer;
            font-size: large !important;

            i {
                margin-right: 10px;
            }
        }
    }
}

