.follow {
    margin-top: 90px;
    margin-bottom: 70px;

    h1{
        margin-bottom: 20px;
    }

    .users {
        .single-compte {
        background-color: $grey;
        border-radius: 40px;
        height: 60px;
        padding: 10px 20px;

            &:hover {
                background-color: $light-grey;
            }
        }

        .compte-picture {
            height: 40px;
            width: 40px;
            margin-right: 20px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .btn {
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }

    .nav-followers{
        margin-bottom: 20px;
    }

    a.nav-item.nav-link {
        width: 50%;
        text-align: center;
    }
    
    a.active {
        color: $green;
        border-bottom: 1px solid $green;
    }

    a.active:hover {
        color: $green;
        border-bottom: 1px solid $green;
    }

    a:hover {
        color: black;
    }

    p.title {
        font-weight: 500;
    }
}



// modal

.fade{
    background-color:rgba($color: #000000, $alpha: .30);
  }
  
  .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    .modal-content{
      width: 300px;
      border: none;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .20);
      border-radius: $radius;
      padding: $padding !important;

      input{
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom: 2px $green solid;
      }
    }

    .modal-footer{
      border:none !important;
      justify-content: flex-start !important;

      button{
        margin-bottom: 0px;
        border-radius: $radiusLarge;
        background-color: $green;
        border:none;
        font-size: $Msmall;
        padding:10px;
        padding-right:20px !important;
        padding-left:20px !important;
      }

    }
  }
