{% extends '/base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px">
        <div id="app" data-token="{{ token_generator.generateToken(app.user) }}"  data-username="{{ app.user.username }}" ></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}


{% endblock %}
