body {
  margin:0px;
  font-family:'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}
.contenu {
  flex: 1;
}
*{
  box-sizing: border-box;
  line-height: 180%;
}
a {
  text-decoration: none;
  color: black;
}
a.primaire {
  padding: 12px 22px;
  border-radius: 5px;
  cursor:pointer;
  background-color: $red;
  color: white;
}
.c {
  text-align: center;
}
.p40{
  padding: 40px 40px 0 40px;
}
.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
h1 {
  font-weight: 600;
  margin-bottom: 25px;
}
h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}