.upload-picture-background {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.527);
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%, var(--main-green) 200%);
    border-radius: 100%;
    margin: auto;
    .upload-picture {
        width: 80%;
        height: 80%;
        background: rgba(255, 255, 255, 0.644);
        border-radius: 100%;
        margin: 10px;

        img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
            border-radius: 100%;
        }
        .upload {
            width: 100%;
            display: flex;
            justify-content: center;

            .vich-image {
                text-align: center;
            }

            .custom-file, .custom-file-input {
                position: inherit;
                width: auto;
                height: auto;
            }

            .custom-file {
                display: unset;
                margin-bottom: 0;
            }

            .custom-file-label, .custom-file-label:after {
                position: inherit;
                top: 0;
                right: 0;
                padding: 0;
                line-height: 1.5;
                color: $dark-grey;
            }

            .custom-file-label {
                left: 0;
                z-index: 1;
                height: calc(1.5em + .75rem + 2px);
                font-weight: 400;
                background-color: transparent;
                border: none;
                border-radius: 0;
            }

            .custom-file-label:after {
                bottom: 0;
                z-index: 3;
                display: block;
                height: calc(1.5em + .75rem);
                content: "Choisir un fichier";
                background-color: transparent;
                border: none;
                border-radius: 0;
            }
        }
        i {
            font-size: 40px;
            color: $dark-grey;
        }
    }
}

.login .description textarea {
    background-color: $transparent-green;
    border-radius: 22px;
    font-size: 16px;
    color: $black;
    padding: 1.375rem 1.75rem;
}

.login .description textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $black;
        font-size: 16px;
        font-weight: 200;
        opacity: 1; /* Firefox */
}

.login .description textarea:focus {
    background-color: $transparent-green;
    border-radius: 22px;
}

button.settings-modify-button {
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.7;
    color: $dark-grey;
    margin: 0 !important;
    transition: all .4s;
    padding: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
}
