


.setting {
  margin-top: 90px;

  h1 {
    margin-bottom: 20px;

    i {
      margin-right: 5px;
      color: $green;
    }
  }

  .fade{
    background-color:rgba($color: #000000, $alpha: .30);
  }

  .modifier{
    margin-bottom: 0px;
    color: $green;
    border:none;
    font-size: $Msmall;
    padding:10px;
    background: transparent;
    padding-left: 0px;
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    margin-bottom: 0px;
    color: $green;
    border:none;
    font-size: $Msmall;
    padding:10px;
    background: transparent;
    padding-left: 0px;
}

  .btn_action{
    background-color: transparent;
    color:red;
    border:none;
    text-align: left;
    font-size: $Msmall;
    align-items: flex-start;
    padding: 5px 0;
  }
  
  .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    .modal-content{
      border: none;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .20);
      border-radius: $radius;
      padding: $padding !important;

      input {
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom: 2px $green solid;
        width: 100%;
      }

      select {
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom: 2px $green solid;
        width: 100%;
      }

      textarea{
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom: 2px $green solid;
        width: 100%;
      }

      input#file-upload-button {
        background-color: red;
      }

    }

    .modal-footer{
      border:none !important;
      justify-content: flex-start !important;

      button{
        margin-bottom: 0px;
        border-radius: $radiusLarge;
        background-color: $green;
        border:none;
        font-size: $Msmall;
        padding:10px;
        padding-right:20px !important;
        padding-left:20px !important;
      }

    }
  }

  .img {
    width: 100px;
    height: 100px;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    border-radius: 100px;

  }
  #user_form .form-group {
    border: none;
    padding: 0;
    margin: 10px 0;
  }

  .mon-compte {
    background-color: rgba($color: #E6E6E6, $alpha: 1.0);
    border-radius: 15px;
    padding: 15px;
    border: 0px black solid;
    margin-bottom: 20px;

    .group {
      padding: 15px 0;
      color: rgba($color: #000000, $alpha: .32);

      &:first-of-type {
        padding-top: 5px;
        padding-bottom: 15px;
      }

      .form-group{
        border:none;
        padding: 0px;
        margin-top: 15px;

        legend.col-form-label {
          margin-bottom: 1rem;
        }

        .vich-image {
          margin-top: 1rem;
        }
      }

      .item {
        color: black;
        font-weight: $regular;
      }
    }

    a {
      color: red;
      margin-bottom: 10px;
    }
  }

  .general {
    background-color: rgba($color: #E6E6E6, $alpha: 1.0);
    border-radius: 15px;
    padding: 15px;
    border: 0px black solid;
    margin-bottom: 20px;

    .group {
      padding: 15px 0;
      color: rgba($color: #000000, $alpha: .32);

      &:first-of-type {
        padding-top: 5px;
        padding-bottom: 15px;
      }

      .form-group{
        border:none;
        padding: 0px;
        margin-top: 15px;
      }

      .item {
        color: black;
        font-weight: $regular;
      }
    }

    a {
      color: red;
      margin-bottom: 10px;
    }
  }

}


