{% extends '/base.html.twig' %}

{% block title %}
	Infaux - Recherche
{% endblock %}
{% block gtag %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107718823-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

function gtag() {
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'UA-107718823-2');
	</script>
{% endblock %}
{% block meta_description %}
	<meta name="description" content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>
{% endblock %}
{% block meta_keywords %}
	<meta name="keywords" content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>
{% endblock %}
{% block meta_robots %}
	<meta name="robots" content="unavailable_after: [date ]">
{% endblock %}
{% block google %}
	<meta name="google" content="unavailable_after: [date ]">
{% endblock %}
{% block stylesheets %}
	<style>
		.mt-100 {
			margin-top: 100px;
		}
	</style>
{% endblock %}

{% block body %}

<div class="search container mt-100">

<h1>Votre recherche</h1>
	<div class="form-group">
		{% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
		{{ form_start(searchForm) }}
		{{ form_row(searchForm.text, {'label': "", 'attr' : {'placeholder' : 'mot clé...'}}) }}
		<button class="btn btn-primary">rechercher</button>
		{{ form_end(searchForm) }}
	</div>
</div>



{#	CODE POPWEB#}
	<div class="search container mt-100">
		<h1 class="title">
			<i class="icon-search"></i>
			Recherche</h1>
		<div class="input-group mt-20 mt-20Mobile">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="icon-search"></i>
				</span>
			</div>
			<input class="form-control" placeholder="Rechercher..."/>
	</div>
	<div class="d-flex justify-content-end">
		<a href="" class="btn-search">Rechercher</a>
	</div>

	<div class="compte">
		<h1 class="title mt-40 mt-40Mobile mb-10 mb-10Mobile">Compte</h1>
		<div class="single-compte d-flex align-items-center mt-10 mb-10 mt-10Mobile mb-10Mobile">
			<div class="compte-picture">
				<img src="https://iicpartners.com/static/img/defaults/user-default-image.png" alt="user">
			</div>
			<p class="mb-0">John Doe</p>
		</div>

        <div class="single-compte d-flex align-items-center mt-10 mb-10 mt-10Mobile mb-10Mobile">
            <div class="compte-picture">
                <img src="https://iicpartners.com/static/img/defaults/user-default-image.png" alt="user">
            </div>
            <p class="mb-0">John Doe</p>
        </div>
    </div>

	<div class="post">
		<h1 class="title mt-40 mt-40Mobile mb-10 mb-10Mobile">Posts</h1>
		<div class="single-post mt-10 mb-10 mt-10Mobile mb-10Mobile">
			<div class="d-flex align-items-center mb-3">
				<div class="compte-picture">
					<img src="https://iicpartners.com/static/img/defaults/user-default-image.png" alt="user">
				</div>
				<div>
					<h3 class="title">John Doe</h3>
					<p class="date mb-0">Hier 11h15</p>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
		</div>
	</div>

</div>{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags('app') }}{% endblock %}
