


.commentForm{
  background-color: #E6E6E6;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  label {
    margin-bottom: 0px;
  }
  .same-align{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 400px;
  }
  .form-control {
    color: #495057;
    background-color: #fdfdfd;
    border: 0.5px solid #cecece;
    border-radius: .2rem;
}
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #b0b4b8;
    outline: 0;
    box-shadow: none !important;
  }
  .btn-pink {
    background-color: #F60052;
    border-color: #F60052;
    color: white;
  }
  .btn-pink:hover {
    background-color: rgb(214, 5, 75);
    border-color: rgb(214, 5, 75);
    color: white;
  }
  &__textarea{
    padding: 5px 5px 5px 10px;
    min-height: 93px !important;
    transition: 0.2s;
    box-sizing: border-box;
    font-size: 1rem;
  }
}


.edit_input{

  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
}
.edit_input:focus{
  border-bottom-color: orange;
}
