{% extends 'base.html.twig' %}
{% block title %}Agence Web - {{ site_name }}{% endblock %}
{% block gtag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
    </script>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Agence web à Lens. Conception et développement de sites sur mesure. Communication digitale, référencement SEO Google."/>{% endblock %}
{% block meta_keywords %}
    <meta name="keywords"
          content="Agence web de communication web marketing, stratégie digitale à Lens, France, creation site internet, agence de développement web, Création site internet, Lens, Lille, France, creation site internet, 59, 62, Nord Pas de Calais, Nord, Haut de France, création site internet vitrine, community management entreprise, community management personnel, création boutique en ligne, site internet, site web, création site internet boutique en ligne, Création site web, 75, Paris, Création site web e commerce, agence de référencement, agence seo, seo, référencement naturel, web marketing, agence web, agence de communication, vidéo promotionnelle, vidéo commercial, création site catalogue, création site internet responsive, généré du trafic sur mon site internet, première page google, référencement google, création de site internet france, conseil et webdesign, référencement internet, agence web, site internet responsive, site responsive, création et optimisation de site web, web design et développement de site internet, communication digitale, webmarketing, création site internet boutique en ligne, boutique en ligne, créer boutique en ligne, refonte boutique en ligne, refonte site internet e-commerce, responsive web design, refonte site internet responsive, site adaptable, site internet, site web, création site internet, création site web, responsive, création site internet e-commerce"/>{% endblock %}
{% block meta_robots %}
    <meta name="robots" content="unavailable_after: [date ]">{% endblock %}
{% block google %}
    <meta name="google" content="unavailable_after: [date ]">{% endblock %}
{% block style_custom %}
    <style>

    </style>

{% endblock %}
{% block body %}

    <div class="container mt-100 cgu">
        </br></br></br></br><h1>Conditions d'utilisations générales</h1>
        <b>Bienvenu sur Infaux</b>
        <p>Infaux développe un service communautaire et a pour but de lutter contre la désinformation engendrée par les réseaux sociaux et la communication très virale d’internet. Les présentes conditions limitent votre utilisation de Infaux, produit par l’agence <a href="https://pop-web.fr/">PopWeb</a>.</p>
        <p>Nous ne facturons pas l’utilisation d’Infaux, et nous ne vous présentons pas non plus de publicité. Notre site Infaux est un site gratuit et à but non lucratif qui entre dans un cadre de projet d’étude. </p>
        <p>Nous ne vendons vos données personnelles à personnes et ne partageons pas d’informations permettant de vous identifier directement (telles que votre nom, votre adresse e-mail ou toutes autres coordonnées), sauf autorisation expresse de votre part. </p>
        <b>1. Les services que nous fournissons</b>
        <p>Notre missions consiste à donner la possibilité à chacun de s’informer sur une plateforme sûre, et ainsi de lutter contre la désinformation. Pour cela, nous fournissons les services suivant :                                                                                          </p>
        <p>Nous fournissons à nos utilisateurs une expérience personnalisable. Vous pouvez rechercher les sujets qui vous intéresse, suivre les personne qui ont les mêmes centre d’intérêt et de recherche que vous et ne voir sur votre fil d’accueil seulement que les publications des personnes que vous avez décidé de suivres. </p>
        <p>Nous vous mettons en contact avec les personnes et nous permettons d'interagir avec eux directement sur leur ou vos publications en public ou encore dans une sphère qui n’appartient qu’à vous, en message privé. </p>
        <p>Nous vous donnons la possibilité de vous exprimer librement grâce aux publications surveillé par nos modérateurs. En effet, toutes publications abusives ou commentaire qui n’étant pas approprié à l’objectif d’Infaux peut se voir supprimer et l’auteur bannis d’Infaux.</p>
        <p>Enfin, nous assurons à nos utilisateur une amélioration constante de nos services. Nous restons à l’écoute des problème que vous rencontrez afin de trouver des solutions pour améliorer votre expérience sur Infaux. </p>
        <b>2. Vos engagements envers Infaux et notre communauté</b>
        <p>Nous fournissons à nos utilisateurs un service communautaire laissant libre court au sujet évoqué dans les publications. En échange de quoi, chaque utilisateurs d’Infaux prends les engagements suivants : </p>
        <ul>
            <li>N’utiliser uniquement que sa propre identité </li>
            <li>L’usurpation d’identité est un délit punis par la lois jusqu’à 5 ans d'emprisonnement et 75 000€ d'amende </li>
            <li>Ne pas partager son mot de passe, n’autoriser personne d’autre à utiliser votre compte personnel</li>
        </ul>
        <p>Nous essayons de rendre accessible Infaux à un maximum de personne mais vous ne pouvez pas utiliser Infaux si : </p>
        <ul>
            <li>Vous avez moins de 13 ans </li>
            <li>Vous êtes un délinquant sexuel condamné</li>
            <li>Nous avons précédemment désactivé votre compte pour non-respect de vos CGU</li>
        </ul>
        <p>Nous voulons que les utilisateur d’Infaux puisse s’exprimer et partager du contenu informationnel qui leur importe, mais pas au détriment de la sécurité et du bien être des autres ou de l’intégrité de notre communauté. Vous acceptez donc de ne pas agir de manière décrite si-dessus (ni d’encourager ou soutenir les autres à le faire) : </p> 
        <ul>
            <li>Vous ne pouvez pas parler ou partager quoi que ce soit : d’illégal, trompeur, discriminant ou frauduleux, ou qui enfreint ou viole des droits tiers, y compris des droits de propriété intellectuelle. </li>
            <li>Vous ne pouvez pas importer de virus ou de code malveillant ni agir d’une manière qui pourrait désactiver, surcharger ou empêcher le bon fonctionnement ou l’apparence d’Infaux.</li>
            <li>Vous ne devez pas collecter des données sur Infaux ni accéder à de telles données par des moyens automatisés (sans notre autorisation préalable), ni tenter d’accéder à des données auxquelles vous n’êtes pas autorisé(e) à accéder. </li>
        </ul>
        <p>Nous nous réservons tout droit de supprimer ou bloquer le contenu qui enfreint ces dispositions.</p> 
        <p>Si nous supprimons du contenu que vous avez partagé, car il viole nos standards de la communauté, nous vous en informerons et vous expliquerons les options à votre disposition pour demander un réexamen, à moins que vous n'en reigniez gravement ou à maintes reprises les présentes CGU ou si cela engage notre responsabilité juridique ou celles d’un tiers.</p> 
        <p>Pour nous aider à soutenir notre communauté, nous vous encourageons à signaler tout contenu ou comportement qui, selon vous, enfreint vos droit (y compris de vos droits de propriété intellectuelle ou nos CGU.</p> 
        <b>3. Dispositions supplémentaires</b>
        <p>Nous nous efforçons d’améliorer constamment nos services et de développer de nouvelles fonctionnalités pour vous proposer de meilleurs Produits, ainsi qu’à notre communauté. Ainsi, nous sommes susceptibles de mettre à jour les présentes Conditions de temps à autre afin de refléter correctement nos services et nos pratiques. Nous les modifierons uniquement si les dispositions ne sont plus adéquates ou si elles sont incomplètes, et si les modifications sont raisonnables et prennent bien en compte vos intérêts.</p> 
        <p>Nous vous informerons (par exemple, par e-mail ou par l’intermédiaire de nos Produits) au moins 30 jours avant de modifier les présentes Conditions et vous donnerons l’opportunité de les examiner avant leur entrée en vigueur, à moins que les modifications ne soient requises par la loi. Une fois les Conditions révisées en vigueur, vous serez lié(e) par celles-ci si vous continuez d’utiliser nos Produits.</p> 
        <p>Nous espérons que vous continuerez d’utiliser Infaux, mais si vous n'êtes pas d'accord avec nos Conditions révisées et ne souhaitez plus faire partie de la communauté, vous pouvez supprimer votre compte.</p> 
        <p>Date de la dernière révision : 31 mai 2020</p> 

        <h1>Politique d’utilisation des données</h1>
        <p>La présente politique décrit les informations que nous traitons pour le fonctionnement d’Infaux</p>
        <p>Nous recueillons uniquement les données servant à vous permettre d’utiliser Infaux. Nous ne réalisons aucun traitement dessus. Nous assurons une sécurité maximum à nos utilisateur en ne vendant à aucun tiers les données indiqué dans Infaux. </p>
        <p>Date de la dernière révision : 31 mai 2020</p></br></br></br>
    </div>



{% endblock %}

{% block javascripts %}

    <script>

    </script>
{% endblock %}
