.list-group-item{
  &.router-link-exact-active{
    background-color: #6b9;
    h6{
      color: white;
    }
  }
}

.chat-box{
  overflow-y: scroll;
  min-height: calc(100vh - 330px);
    max-height: calc(100vh - 330px);

  @include breakpoint(desktop){   

  }

  .small{
    padding-top: 10px;
  }
}

.msg-bg-grey{
  background-color:$grey;
  padding: 15px;
  font-size: 1em;
  border-radius: 15px;
  box-shadow: 1px 3px 6px rgba($color: #000000, $alpha: .16);
  color:black !important;
  p{
    color: black !important;
  }
}
.msg-bg-green{
  background-color: rgba($color: $green, $alpha: .41);
  font-size: 1em;
  padding:15px;
  border-radius: 15px;
  box-shadow: 1px 3px 6px rgba($color: #000000, $alpha: .16);
  p{
    color: black !important;
  }
}



.messages-box{
  .flex{
    background-color: $grey;
  }
  .list-group-item{
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    .media{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* height: 77px; */
      width: 50px;
      align-items: center;
    }
    
  }
}



.input-msg{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;

  input{
    font-size: 1em;
    background-color: transparent !important;
    
  }

  i{
    color:$green;
    font-size: 2.3em;
    text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
  }
}